// _typographie.scss
@use "../utils/variables" as variables;

.xxl-font {
  font-size: variables.$font-xxl; // 1.5rem (24px)
  font-weight: 700;
  line-height: 1.75rem; // 28px
}

.xl-font {
  font-size: variables.$font-xl; // 1.125rem (18px)
  font-weight: 700;
  line-height: 1.3125rem; // 21.09px
}

.lg-font {
  font-size: variables.$font-lg; // 1.062rem (17px)
  font-weight: 300;
  line-height: 1.25rem; // 19.92px
}

.md-font {
  font-size: variables.$font-md; // 1rem (16px)
  font-weight: 500;
  line-height: 1.1875rem; // 18.75px
}

.sm-font {
  font-size: variables.$font-sm; // 0.875rem (14px)
  font-weight: 500;
  line-height: 1.0625rem; // 16.62px
}
