// _typographie.scss
@use "../utils/variables" as variables;
// Import des polices via Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");

// Variables pour les polices
$font-primary: "Roboto", sans-serif;
$font-logo: "Shrikhand", cursive;
// Application par défaut sur les balises de textes
p,
h1,
h2,
h3 {
  font-family: $font-primary;
}
// -----------------------------------------------
.main-title {
  font-family: variables.$font-logo;
}
.xxl-font {
  font-size: variables.$font-xxl; // 1.5rem (24px)

  font-weight: 700;
  line-height: 28.13px;
}

.xl-font {
  font-size: variables.$font-xl; // 1.125rem (18px)
  font-weight: 700;
  line-height: 21.09px;
}
.xl-font-light {
  font-size: variables.$font-xl; // 1.125rem (18px)
  font-weight: 300;
  line-height: 21.09px;
}

.lg-font {
  font-size: variables.$font-lg; // 1.062rem (17px)
  font-weight: 300;
  line-height: 19.92px;
}

.md-font {
  font-size: variables.$font-md; // 1rem (16px)
  font-weight: 600;
  line-height: 18.75px;
}

.sm-font {
  font-size: variables.$font-sm; // 0.875rem (14px)
  font-weight: 500;
  line-height: 16.62px;
}
