/* classe commune pour les styles de polices */
.xxl-font {
  font-size: $font-xxl; // 24px
  font-weight: 700;
  line-height: 28.13px;
}

.xl-font {
  font-size: $font-xl; // 18px
  font-weight: 700;
  line-height: 21.09px;
}

.lg-font {
  font-size: $font-lg; // 17px
  font-weight: 300;
  line-height: 19.92px;
}
.md-font {
  font-size: $font-md; // 16px
  font-weight: 500;
  line-height: 18.75px;
}
.sm-font {
  font-size: $font-sm; // 14px
  font-weight: 500;
  line-height: 16.62px;
}
body {
  background-color: antiquewhite;
}
