@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
/* Variables pour les polices */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Réinitialisation pour les images */
img {
  display: block; /* Empêche les espaces sous les images */
  max-width: 100%; /* Rendre l'image responsive */
  height: auto; /* Maintenir les proportions */
}

p,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.main-title {
  font-family: "Shrikhand", cursive;
}

.xxl-font {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28.13px;
}

.xl-font {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.09px;
}

.xl-font-light {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 21.09px;
}

.lg-font {
  font-size: 1.062rem;
  font-weight: 300;
  line-height: 19.92px;
}

.md-font {
  font-size: 1rem;
  font-weight: 600;
  line-height: 18.75px;
}

.sm-font {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 16.62px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.header .header__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 375px;
  margin: 0 auto;
}
.main-container .middle-content {
  width: 100%;
}
.main-container .middle-content .location {
  height: 50px;
  background-color: #eaeaea;
}
.main-container .middle-content .location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .middle-content .intro .intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 190px;
  background-color: #f6f6f6;
}
.main-container .middle-content .intro .intro__container .intro__title {
  padding: 0 10px 8px 10px;
  width: 275px;
}
.main-container .middle-content .intro .intro__container .intro__subtitle {
  width: 315px;
}
.main-container .middle-content .intro .intro__container .intro__button-container {
  width: 190px;
}
.main-container .middle-content .steps {
  padding: 0 10px 0 20px;
}
.main-container .middle-content .steps .step__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .middle-content .steps .step__container .step__item {
  opacity: 1;
  width: 335px;
  height: 72.38px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-container .middle-content .steps .step__container .step__item-number::before {
  content: attr(data-step); /* Utilise un attribut personnalisé pour le numéro */
  position: absolute;
  left: -1rem; /* Décale l'élément à l'extérieur, ou ajuste selon le besoin */
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%); /* Corrige le centrage */
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 8px;
  color: white;
  font-size: 0.875rem;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 0.5rem;
}
.main-container .middle-content .steps .step__container .step__item-text {
  width: 211px;
}
.main-container .middle-content .steps .step__container .step__item-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .middle-content .steps .step__container .step__item-content::before {
  content: "\f54e"; /* Utilise le code Unicode pour 'fa-store' */
  font-family: "Font Awesome 6 Free"; /* Utilise la police Font Awesome */
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  color: #9356dc;
  transform: translateY(-50%);
  margin-left: 2rem;
}

/*# sourceMappingURL=main.css.map */
