@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.main-container {
  @include flex-column;
  position: relative;
  width: 100%;
  margin: auto;
  // responsive desktop
  @include media-query(desktop) {
    width: 100%;
    max-width: 90rem; // 1440px
  }

  // Contenu principal
  .middle-content {
    @include flex-column;
    width: 100%;
    // responsive desktop
    @include media-query(desktop) {
      height: 69.69rem; // 1100px
    }

    .location {
      @include flex-center;
      box-shadow: $box-shadow-location;
      margin-bottom: 0.3125rem; // 5px
      height: 3.125rem; // 50px
      background-color: #eaeaea;
    }

    .intro {
      .intro__container {
        @include flex-column-evenly;
        height: 18.75rem; // 300px
        text-align: center;
        background-color: $color-background;
        // responsive desktop
        @include media-query(desktop) {
          @include flex-column-evenly;
          height: 13.75rem; // 220px
        }

        .intro__title {
          padding: 0 0.625rem 0.5rem 0.625rem; // 10px 8px 10px
          width: 17.1875rem; // 275px
          // responsive desktop
          @include media-query(desktop) {
            width: 41.875rem; // 670px
            font-size: 2.5rem; // 40px
            line-height: 46.88px;
          }
        }

        .intro__subtitle {
          width: 19.6875rem; // 315px
          // responsive desktop
          @include media-query(desktop) {
            width: 41.875rem; // 670px
          }
        }

        .intro__button-container {
          @include button;
        }
      }
    }

    .steps {
      @include flex-column-evenly;
      align-items: flex-start;
      margin: auto;
      height: 25rem; // 390px
      // responsive desktop
      @include media-query(desktop) {
        @extend .common-width;
        @include flex-column;
        height: 13.25rem; //212px
        padding-top: 3rem;
      }

      .step__container {
        @include flex-column-between;
        margin-left: 1rem;
        height: 17rem; // 300px
        // responsive desktop
        @include media-query(desktop) {
          @include flex-around;
          margin: auto;
          height: 5rem; // 80px
          width: 100%;
        }

        .step__item {
          @include steps-style;
          @include flex-center;
          position: relative;
          cursor: pointer;
        }

        .step__item-number::before {
          content: attr(data-step);
          position: absolute;
          left: -1rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem; // 24px
          height: 1.5rem; // 24px
          text-align: center;
          line-height: 8px;
          color: white;
          font-size: $font-sm;
          background-color: $color-primary;
          border-radius: 50%;
          padding: 0.5rem;
        }

        .step__item-text {
          width: 13.1875rem; // 211px
        }

        .step__item-content {
          @include flex-center;
        }

        // Icônes et interactions
        .step__item-content-1::before,
        .step__item-content-2::before,
        .step__item-content-2::after,
        .step__item-content-3::before {
          font-family: "Font Awesome 6 Free";
          font-weight: 600;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 2rem;
          color: $step-icon-color;
          font-size: 1.1rem;
          transition: color 0.3s ease;
        }

        .step__item-content-1::before {
          content: "\f3cd";
        }

        .step__item-content-2::before {
          content: "\f142";
        }

        .step__item-content-2::after {
          content: "\f0c9";
          margin-left: 2.4rem;
        }

        .step__item-content-3::before {
          content: "\f54e";
        }

        .step__item:hover .step__item-content-1::before,
        .step__item:hover .step__item-content-2::before,
        .step__item:hover .step__item-content-2::after,
        .step__item:hover .step__item-content-3::before {
          color: $color-primary;
        }
      }
    }

    .restaurants {
      @include flex-column-evenly;
      align-items: flex-start;
      width: 100%;
      height: 75rem;
      background-color: $color-background;
      // responsive desktop
      @include media-query(desktop) {
        @extend .common-width;
        width: 100%;
        height: 39rem;
      }
      .restaurants__title {
        // responsive desktop
        @include media-query(desktop) {
          padding-top: 2rem;
          @extend .common-width;
        }
      }
      .restaurants__container {
        width: 100%;
        // responsive desktop
        @include media-query(desktop) {
          @include flex-column-between;
          width: 100%;
          height: 35rem;
        }
        .restaurants__cards-row {
          // responsive desktop
          @include media-query(desktop) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            max-width: 100%;
            width: 78rem;
            margin: auto;
          }
          .restaurants__card {
            width: 375px;
            margin: auto;
            position: relative;
            height: 17.1875rem; // 275px
            // responsive desktop
            @include media-query(desktop) {
              width: 500px;
              height: 15.5rem;
            }

            .restaurants__link {
              .restaurants__card-details {
                @include flex-column-adjustable(left, center);
                height: 4.375rem; // 70px
                padding: 0 0.8rem 0 0.8rem;

                .restaurants__card-header {
                  @include flex-between;

                  .restaurants__card-heart-container {
                    position: relative;
                  }
                }
              }
            }
          }
        }

        .card {
          @include card-style;
          & img {
            @include card-img-style(100%, 11.875rem, 50% 60%); //190px
          }
          // responsive desktop
          @include media-query(desktop) {
            & img {
              @include card-img-style(100%, 10.5rem, 50% 60%); //190px
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .common-width {
    width: 100%;
    margin: auto;
  }
  // ----------------------------------------
}
