@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.restaurants__main-container {
  @include flex-column;
  width: 100%;
  margin: auto;
  // responsive desktop
  @include media-query(desktop) {
    max-width: 90rem; // 1440px
  }
  .restaurants__main-content {
    .restaurants__introduction-image {
      z-index: 1;
      // responsive desktop
      @include media-query(desktop) {
        width: 100%; /* Ajuste l'image à la largeur de son élément parent */
        height: 350px; /* La hauteur de l'image (ajustez selon vos besoins) */
        object-fit: cover; /* Rognage de l'image en conservant son aspect */
        object-position: 50% 55%; /* Centre le contenu de l'image */
      }
    }
    .restaurants__menu {
      @include flex-column-adjustable(none, space-between);
      height: 1080px;
      background-color: $color-background;
      border-radius: 20px 20px 0 0;
      position: relative; /* Permet de la déplacer sans affecter les autres éléments */
      z-index: 2;
      margin-top: -12%; /* Fait remonter la section sur l'image */
      padding: 2rem 1rem 2rem 1rem;
      // responsive desktop
      @include media-query(desktop) {
        width: 60%;
        margin: auto;
        margin-top: -3%; /* Fait remonter la section sur l'image */
      }
      .restaurants__menu-header {
        position: relative;
        @include flex-row--adjustable(center, space-between);
        .restaurants__card-heart-container {
          position: relative;
          .restaurants__card-heart-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-right: 2rem;
            padding-bottom: 0.5rem;
          }
        }
      }
      .restaurants__menu-details {
        .restaurants__menu-section {
          @include flex-column-adjustable(none, space-around);
          height: 280px;
          margin-bottom: 1.5rem;
          .restaurants__menu-title {
            @include half-border-bottom;
          }
          .restaurants__menu-item {
            margin: auto;
            @include flex-column-adjustable(none, center);
            @include menu-item-style--adjustable(330px, 69px);
            // responsive desktop
            @include media-query(desktop) {
              @include menu-item-style--adjustable(640px, 69px);
            }
            .restaurants__menu-item-details {
              @include flex-between;
            }
          }
        }
      }
      .restaurants__menu-order {
        @include flex-center;
        .restaurants__menu-order-button {
          @include button;
        }
      }
    }
  }
}
