// ==============================
// FLEXBOX MIXINS
// ==============================
@use "../utils/variables" as *;
@mixin flex {
  display: flex;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-align-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
// ==============================
// BUTTON MIXINS
@mixin steps-style {
  width: 335px;
  height: 72.38px;
  border-radius: 20px;
  background-color: $color-background;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  // 0 : L'ombre est décalée horizontalement de 0 pixels (aucun décalage sur l'axe X).
  // 4px : L'ombre est décalée verticalement de 4 pixels.
  // 15px : Le rayon de flou de l'ombre est de 15 pixels, ce qui donne un effet de diffusion.
  // 0 : pas d'étalement de l'ombre.
  // rgba(0, 0, 0, 0.15) : La couleur de l'ombre est noire avec une opacité de 0.15 (ce qui correspond à #00000026 en hexadécimal). Le dernier chiffre, 0.15, représente l'alpha (opacité).
  padding: 0 20px;
}
@mixin button($width: 218px, $height: 50px) {
  @include flex-center;
  width: $width;
  height: $height;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: $gradient; // Utiliser votre variable de gradient
  border: none;
}
@mixin card-style {
  border-radius: 15px;
  padding: 0.31rem; /* 5px */
  box-shadow: 0px 4px 15px 0px #0000001a;
}

@mixin card-img-style($width: 100%, $height: auto, $object-position: 50% 50%) {
  width: $width;
  height: $height;
  object-fit: cover;
  object-position: $object-position; // Ajout dynamique de la position.
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
